{% extends 'base.html' %}
{% load static %}

{% block title %}Стоматологічна клініка{% endblock %}

{% block content %}

    <div class= "row">
        <div class="col-md-8 col-sm-12">
            <h2>{{title}}</h2>
            <h3>{{message}}</h3>

            <p>About Studio Vita</p>
            <p1>
                Studio Vita - це сучасна стоматологічна клініка<br />
                Була створена 2024 року, в невеличкому місті Rimini.<br />
                Медичний центр «ІНГО» дає можливість отримати якісне комплексне медобслуговування для всіх киян – комфортне, якісне та доступне.<br />
                Діагностика виконується на сучасному сертифікованому обладнанні. Лікарі мають достатню кваліфікацію, ресурс часу та сил, щоб вивчити анамнез та результати обстежень.<br />
                Терапія призначається з урахуванням індивідуальних особливостей пацієнта та його ситуації.
            </p1>

            <p2>
                Медичний центр «ІНГО» об’єднує лікарів, які зацікавлені у своїй професії та прагнуть розвиватися в ній,<br /> 
                постійно навчаючись та використовуючи дані новітніх досліджень для допомоги пацієнтам.<br />
                Індивідуальний підхід дозволяє рекомендувати лише потрібні діагностичні процедури та підбирати найефективніше, правильне лікування. <br />
                Також у клініці впроваджено міжнародний стандарт контролю якості послуг.
            </p2>
        </div>
    </div>
    
{% endblock %}