{% extends 'base.html' %}
{% load static %}

{% block title %}Стоматологічна клініка{% endblock %}

{% block content %}

<h2>{{title}}</h2>
<h3>{{message}}</h3>

<p>Наші контакти</p>
<p1>Клініка знаходиться в самісінькому центрі міста</p1>

<p2>
    Звоніть нам: 39 366 151 6983
</p2>

<p3>
    Пишіть нам: vita@exampel.com
</p3>

<!-- <address>
    <write>Звоніть нам</write>
    One Vita Way<br />
    Italy, Rimini 23340-032<br />
    <abbr title="Phone">P:</abbr>
    39 366 151 6983
</address> -->

<!-- <address>
    <strong>Support:</strong>   <a href="vita:support@example.com"></a>
    <strong>Marketing:</strong>  <a href="vita:support@example.com"></a>
</address> -->

{% endblock %}